<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <article>
            <img src="/img/pokeball2.gif" class="img-fluid gif" alt="Animação PokeBola">
            <h1><a href="/">Pokedéx</a></h1>

        </article>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="/cadastro">Cadastro</a>
            </li>
            <!-- <li>
                <a href="#inscrever">Inscreva-se</a>
            </li> -->
        </ul>
    </nav>
       
    <header>
        <!-- <article>
            <h1>POKEDÉX</h1>
            <p>Conheça Todos os Pokemons Cadastrados até o momento</p>
        </article> -->

        
    </header>
    <section id="details">
        <main class="detalhes">
            <img src="<%= detailsPoke.imagem %>">
            <div class="<%=detailsPoke.tipo%> titulo detalhes"><%=detailsPoke.nome%></div>
            <div class="detalhes-card">
            <div class="detalhes-texto">
                <table>
                    <tr>
                        <td class="td-chave">Nome:</td>
                        <td class="td-info"><%= detailsPoke.nome %> - <%= detailsPoke.numero %></td>
                    </tr>
                </table>
                
            </div>
             </div>
        </main>
    </section>
 

    <script src="/js/script.js"></script>

    <footer>
        <p>
           &copy; Todos os Direitos Reservados. Projeto Desenvolvido por Valdenir S. Brito - < The future is blue /> <a href="https://blueedtech.com.br/" target="_blank"> BlueEdtech</a>
        </p>
    </footer>
       
</body>
</html>